@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    City University<br />
    Mockbul Hossain Hall, Room-228<br />
    <abbr title="Phone">P:</abbr>
    +880191336192
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">zubayer01913@gmail.com</a><br />
    <strong>Other Email:</strong> <a href="mailto:Marketing@example.com">zubayer01913@yhoo.com</a>
</address>